@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@500&display=swap');
/* Main text: OST2-like clean research font */
html, body, body * {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Code blocks: sharp hacker mono */
pre, code, kbd, samp, tt, pre *, code * {
  font-family: "Oxanium", sans-serif;
}
