@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=JetBrains+Mono:wght@400;700&display=swap');

html, body, body * {
  font-family: "Ubuntu", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif !important;
}

pre, code, kbd, samp, tt, pre *, code * {
  font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace !important;
}
