@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=JetBrains+Mono:wght@400;700&display=swap');

/* Main text: OST2-like clean research font */
html, body, body * {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Code blocks: sharp hacker mono */
pre, code, kbd, samp, tt, pre *, code * {
  font-family: "Oxanium", sans-serif;
}
