---
---

:root {
  --bg: #07060a;
  --fg: #eae7ff;
  --accent: #6a00ce;  
  --accent2: #00c500; 
}
body {
  background: var(--bg);
  color: var(--fg);
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent2);
}
